doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title デジタルハリウッドStudio × Lig プロモーションサイト 
    .
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="./asset/css/style.css")
    //- script(type="module", src="./asset/js/main.js") 
  body
    svg(aria-hidden="true", style="display: none", xmlns="http://www.w3.org/2000/svg")
      symbol(id="loupe-icon" viewBox="0 0 36 36" fill="#FFF" xmlns="http://www.w3.org/2000/svg")
        path(d="m12.127,0c6.698-.002,12.129,5.426,12.131,12.123v.004c.002,6.698-5.426,12.129-12.123,12.131h-.008C5.43,24.258,0,18.828,0,12.131c0-.001,0-.003,0-.004C0,5.429,5.43,0,12.127,0Zm0,22.294c5.613,0,10.163-4.55,10.163-10.163,0-5.613-4.55-10.163-10.163-10.163-5.611,0-10.161,4.548-10.163,10.159.004,5.612,4.551,10.16,10.163,10.167Z")
        path(d="m20.673,22.218l1.545-1.545c.702-.701,1.839-.701,2.542,0l10.715,10.715c.701.702.701,1.839,0,2.542l-1.545,1.545c-.702.701-1.839.701-2.542,0l-10.715-10.715c-.701-.702-.701-1.839,0-2.542Zm2.816-.038l-1.309,1.309,10.479,10.479,1.309-1.309-10.479-10.479Z")
        path(d="m21.473,22.899l-2.455-2.455,1.39-1.388,2.455,2.455-1.39,1.388Z")
      symbol(id="copy-bg", viewBox="0 0 386 135", xmlns="http://www.w3.org/2000/svg")
        path(d="m.104.259h385.896v134.741H.104V.259Z")
        path(d="m.025,66.064c10.983,56.621,116.079,68.599,173.439,43.836,49.424-20.548,100.235-101.841-9.152-101.37C54.925,9-1.351-18.412.025,66.064Z")
        path(d="m342.944.063c-23.761-.878-59.388,7.166-52.449,37.934s-75.787,26.867-73.939,48.226c1.848,21.359,47.539,42.747,91.541,20.618,44.003-22.129,77.799-37.934,77.444-65.33S366.705.943,342.944.063Z")
    header.l-header
      div.l-header__inner
        h1.l-header__logo
          a(href="#") 
            img(src="./asset/images/header/site-logo.svg", alt="Digital Hollywood Studio × Lig", width="190px", height="auto")
        nav#global-navigation.l-global-navigation
          ul.l-global-navigation__list
            li.l-global-navigation__item
              a(href="#").l-global-navigation__link
                span.l-global-navigation__text--en  About Us
                span.l-global-navigation__text--ja  デジLigについて
            li.l-global-navigation__item
              a(href="#").l-global-navigation__link
                span.l-global-navigation__text--en  Features
                span.l-global-navigation__text--ja  3つの特徴
            li.l-global-navigation__item
              a(href="#").l-global-navigation__link
                span.l-global-navigation__text--en  Question
                span.l-global-navigation__text--ja  よくある質問
            li.l-global-navigation__item
              a(href="#").l-global-navigation__link.p-contact__button.c-button
                span.l-global-navigation__text--en.p-contact__text--en  Contact
                span.l-global-navigation__text--ja.p-contact__text--ja  お問い合わせ
        button#js-hamburger.l-header__hamburger(type="button", aria-controls="global-navigation", aria-expanded="false", aria-label="ナビゲーションメニューを開閉する")
          span.l-header__hamburger-line
    main
      section.p-firstView
        div.p-firstView__textArea
          h2.p-firstView__title
            strong
              |一緒に一歩
              br
              |踏み出そう。
          p.p-firstView__description
            |上野・池袋・大宮の
            br
            |Webクリエイター育成スクール
          div.p-firstView__button-wrapper
            a(href="#").c-button.p-firstView__button
              svg(viewBox="0 0 36.655 36.656", role="img", width="27px")
                use(href="#loupe-icon")
              span.p-firstView__buttonText 個別説明会を予約する
        div.p-firstView__imageArea
      section.p-about
        div.p-about__inner
      section.p-features
        div.p-features__inner
          div
            figure
              img(src="", alt="")
            div.p-features__description
              h2.c-title
                span.c-title__text--en Features 
                span.c-title__text--ja デジLigの魅力を知る
              h3
                |選ばれる
                br
                |3つの特徴
              p
                |Webクリエイターに必要なスキルを身につけて実務で活躍するため、効率的に学べるカリキュラム。
                br
                |ソフトを触ったことがない初心者でも、確実にステップアップするためにデジLIGのサポート体制があります。
          div
            h4
              span 未経験
              |からでも安心のサポートシステム
            ol
              li
                p 01
                figure
                  img(src="", alt="")
                p
                  |現役クリエイターの
                  br
                  |直接指導
                p
                  |Webクリエイターに必要な
                  br
                  |ポートフォリオを重点的に添削。
              li
                p 02
                figure
                  img(src="", alt="")
                p
                  |最新技術を知る
                  br
                  |Live授業
                p
                  |最新のクリエイター人材市場を知り転職を目指して有意義に過ごす。
              li
                p 03
                figure
                  img(src="", alt="")
                p
                  |手厚い
                  br
                  |転職サポート
                p
                  |LIGが実際に行っている仕事の「社内制作課題コンペ」も開催。
          div
            h4
              span Flow
              |デジLig学習の一連の流れ
            ol
              li
                p 01
                figure
                  img(src="", alt="")
                p 入学説明会
              li
                p 02
                figure
                  img(src="", alt="")
                p 受講期間
              li
                p 03
                figure
                  img(src="", alt="")
                p 卒業制作期間
              li
                p 04
                figure
                  img(src="", alt="")
                p 発表会・卒業後

      section.p-questions
        div.p-questions__inner
          h2#tablist-label.c-title
            span.c-title__text--en Questions
            span.c-title__text--ja
              span よくお寄せいただくご質問と
              span 回答をご紹介します。
          div.p-tab__list(role="tablist", aria-labelledby="tablist-label")
            button#tab-study.p-tab__button.is-active.js-tab(type="button", role="tab", aria-controls="tabpanel-study", aria-selected="true", tabindex="0")
              span.p-tab__text 学習・料金について
            button#tab-service.p-tab__button.js-tab(type="button", role="tab", aria-controls="tabpanel-service", aria-selected="false", tabindex="-1")
              span.p-tab__text サービス・制作について
            button#tab-aftercare.p-tab__button.js-tab(type="button", role="tab", aria-controls="tabpanel-aftercare", aria-selected="false", tabindex="-1")
              span.p-tab__text 卒業後について
          div#tabpanel-study.p-tab__panel.js-tab-panel(role="tabpanel", aria-labelledby="tab-study", tabindex="0")
            ul
              li
                p 未経験でついていけるか不安です。
                p
                  |未経験の方を前提としたカリキュラムをご用意していますので、心配ございません。
                  br
                  |初心者の方でも基礎からしっかりと学べます。分からない箇所はトレーナーがマンツーマンで教えてくれるため、進捗にあわせた対応が可能です。
              li
                p 働きながらでも通えますか？
                p
                  |場所や時間を選ばず学べる映像教材や、好きな時間に校舎の予約ができるので、それぞれのライフスタイルに合わせて通学が可能です。
                  br
                  |トレーナーへの質問もオンラインで行える体制が整っているため、通学しないときでも気軽に学習の相談をしていただけます。
              li
                p 料金の分割払いは可能ですか？
                p
                  |コース問わず可能です。
                  br
                  |詳細については、個別説明会もしくは電話問い合わせにてご質問ください。
              li
                p パソコンやソフトの準備がなくても大丈夫でしょうか？
                p
                  |受講期間中はスタジオのパソコンおよびソフトを自由にご利用いただけるため、パソコンなどがなくても受講可能です。
                  br
                  |完全オンラインでの学習をご検討している場合は、学習環境を整えていただく必要がございます。
          div
            p
              |こちらに記載の無い内容についても、お気軽にお問い合わせください。
              br
              |ご導入を本格的にご検討の方から情報収集段階の方まで、幅広くお問い合わせをいただいております。
            figure
              img(src="", alt="")
      section.p-contact
        div.p-contact__inner
          h2
            |次の一歩を踏み出すなら、
            br
            |デジLIG。
          p
            |専門担当者があなたの疑問や不安にお答えします。
            br
            |お気軽にご相談くださいませ。
          div
            p オンライン対応しております
            a(href="#")
              span
                span Contact
                span お問い合わせ
    footer.l-footer
      div.l-footer__inner
        small.l-footer__copyright © LIG Inc. All rights Reserved
